<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>regester</title>
</head>
<body>
<h1>register</h1>
<form method="post" action="/regist">
    account:<input type="text" name="account">
    pwd:<input type="password" name="pwd">
    name:<input type="text" name="name">
    isMed:<label><input type="radio" name="isMed" value="false">no</label>
          <label><input type="radio" name="isMed" value="true">yes</label>
    <br>
    <input type="submit" value="regist">
</form>

</body>
</html>